@font-face {
  font-family: "Regular";
  src: url("fonts/TTLakes-Regular.eot");
  src: url("fonts/TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/TTLakes-Regular.woff") format("woff"),
    url("fonts/TTLakes-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "MediumFont";
  src: url("fonts/TTLakes-Medium.eot");
  src: url("fonts/TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
    url("fonts/TTLakes-Medium.woff") format("woff"),
    url("fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bold";
  src: url("fonts/TTLakes-Bold.eot");
  src: url("fonts/TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/TTLakes-Bold.woff") format("woff"),
    url("fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  color: black;
}

body {
  background: #f2f2f2;
  /* height: 400px; */
}
.wrapper {
  background: #f8f8f8;
  margin: 0 auto;
  /* width: 320px; */
  height: 597px;
  /* left: 0px; */
}
.header {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  /* width: 320px; */
  height: 88px;
  padding: 10px 16px;
  box-sizing: border-box;
}

.header__right-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
}

.header__left-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}
.header__button {
  border: white;
  width: 40px;
  height: 40px;
  padding-top: 30%;
}

.header__burger {
  background: url("/mymaket/img/burger.svg") no-repeat center;
}
.header__logo {
  background: url("/mymaket/img/Group.svg") no-repeat center;

  width: 96.55px;
  height: 50px;
}
.header__call {
  display: none;
  background-image: url("/mymaket/img/call.svg") no-repeat center;
}
.header__chat {
  display: none;
  background: url("/mymaket/img/chat.svg") no-repeat center;
}
.header__profile {
  display: none;
  background: url("/mymaket/img/profile.svg") no-repeat center;
}
.header__repair {
  background: url("/mymaket/img/repair.svg") no-repeat center;
}

.header__checkstatus {
  background: url("/mymaket/img/checkstatus.svg") no-repeat center;
}

.header__right-part-divider {
  background-color: #eaeaea;
  height: 32px;
  width: 2px;
}

.header__left-part-divider {
  background-color: #eaeaea;
  height: 32px;
  width: 2px;
  display: none;
}

.main {
  height: 509px;
  /* width: 320px; */
}
.main__title {
  font-family: "Bold";
  position: relative;
  letter-spacing: -0.6px;
  height: 30px;
  /* width: 288px; */
  left: 16px;
  margin-top: 24px;
  margin-bottom: 32px;
  font-size: 28px;
  line-height: 40px;
}

.main__title::before {
  position: absolute;

  left: -16px;

  content: "";
  background-color: #41f6d7;
  height: 40px;
  width: 4px;
  border: 0px solid #41f6d7;
  border-radius: 0px 6px 6px 0px;
}

/* .main__highlight: { */
/* background-color: #41f6d7; */
/* height: 40px; */
/* width: 4px; */
/* } */

.main__text {
  font-family: "Regular";
  color: #1b1c21;
  font-size: 14px;
  margin-top: 24px;
  margin-bottom: 16px;
  padding: 0px 16px;
}

.button__readmore {
  font-size: 16px;
  margin-left: 48px;
  border: 0;
  background-color: #f8f8f8;
  outline: none;
}

.slideMenu__scroll {
  display: flex;
  justify-content: space-between;
  margin-left: 22px;
  overflow: scroll;
  /* width: 300px; */
  height: 60px;
  align-items: center;
  overflow-y: hidden;
}

.slideMenu__button {
  color: #7e7e82;
  white-space: nowrap;
  font-size: 16px;
  /* flex-wrap: nowrap; */
  background-color: #f8f8f8;
  height: 28px;
  margin-right: 20px;
  /* width: 220px; */
  border: 1px solid #b8ffec;
  outline: none;
}

.slideMenu__button1 {
  color: #7e7e82;
  display: none;
  background-color: #f8f8f8;
  padding-top: 20px;
  border: 0;
  outline: none;
}
.slideMenu__button--active {
  background-color: white;
  height: 40px;
  box-sizing: border-box;
  border-radius: 6px;
  padding-right: 16px;
  padding-left: 9px;
  color: #7e7e82;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.main__img {
  height: 230px;
  /* width: 320px; */
  background: url("/mymaket/img/_MG_3223.svg") no-repeat center;
}
